.Yhead{
	width: 100%;
	height:0.88rem;
	background: #1ddd83;
	overflow: hidden;
}
.nav1{
	width: 3.15rem;
	height: 0.28rem;
	font-size: 0.28rem;
	float: right;
	overflow: hidden;
	margin-top: 0.3rem;
}
.nav1 li a{
	color: #c8ecdb;
}

.nav1 li{
	float: left;
	height: 0.28rem;
	border-left:1px solid #fff;
	
	line-height: 0.28rem;
	padding:0 0.14rem;
}
.nav1 .imss{
	width: 0.28rem;
	height: 0.28rem;
}
.nav1 .we{
	color: #fff;
}
.Yhead .mh{
	width: 1.89rem;
	height: 0.64rem;
	float: left;
	margin: 0.1rem 0 0 0.2rem;
}

/*消息部分*/
.XXus li{
	padding: 0.2rem 0.2rem;
	border-bottom: 0.06rem solid #CCCCCC;
	
}
.xxds{
	overflow: hidden;
}
.xxds .xxim{
	float: left;
	width: 0.5rem;
	height: 0.4rem;
}
.xxds .xxh1{
	width: 5.2rem;
    font-size: 0.32rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    margin-left: 0.2rem;
}
.ps{
	width: 100%;
	height: 0.7rem;
	font-size: 0.28rem;
	color: #606060;
	margin: 0.1rem 0 0.15rem 0;
	display: -webkit-box; 
	text-overflow: ellipsis;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.xxxt {
	position: relative;
	height: 0.4rem;
}
.xxxt span{
	position: absolute;
}
.xxxt .xt{
	font-size: 0.28rem;
	left: 0.5rem;
}
.xxxt img{
	width: 0.4rem;
	height: 0.4rem;
	position: absolute;
}
.xxxt .time{
	font-size: 0.24rem;
	color: #999999;
	top: 0.05rem;
	right: 0.5rem;
}
.xxds .xxh2{
	margin-left: 0rem;
}
.xx02{
	overflow: hidden;
	margin-left: -0.05rem;
	margin-bottom: 0.15rem;
}
.xx02 .xx03{
	width: 1.96rem;
	height: 1.2rem;
	float: left;
	margin-left: 0.05rem;
}
.pas{
	color: #606060;
}
/*地步下载页*/
.xiaz{
	width:100%;
	height: 0.98rem;
	background:rgba(0,0,0,0.8);
	position: fixed;
	bottom: 0rem;
	z-index: 80;
	line-height: 0.98rem;
}
.col{
	background: #ffcb66;
}
.xiaz img{
	float: left;
}
.xiaz .cha{
	width: 0.33rem;
	height: 0.33rem;
	margin: 0.325rem;
	
}
.xiaz .logo1{
	width: 2.18rem;
	height: 0.69rem;
	margin: 0.145rem;
}
.xiaz span{
	display: inline-block;
	width: 1.10rem;
	height: 0.5rem;
	
	font-size: 0.28rem;
	text-align: center;
	background:#2cc17b;
	float: right;
	line-height: 0.5rem;
	border-radius: 0.05rem;
	margin: 0.24rem;
}
.xiaz span a{
	color: #fff;
}
